<ion-view view-title="Domtec">


<ion-content >

	<espacios-directive></espacios-directive>

  </ion-content>
  <md-button class="md-fab float-button" aria-label="Alta espacio" ui-sref="espacioAlta">
		
		<div class="content">
            <i style="font-size:20px" class="fa fa-plus"></i>
			</div>
    </md-button>

		
  
  </ion-view>
  
  
  
  
  <!--<md-card md-theme="dark-grey" md-theme-watch>
				<md-button href="#/app/ambientes/{{ambientes[$index+2].id}}">
					<img class="md-card-image" src="./img/{{ambientes[$index+2].img}}"/>
				</md-button>     
				<md-card-actions layout="row" layout-align="end center">
					<a href="#/app/ambientes/{{ambientes[$index+2].id}}">		
					  <i class="fa fa-bars fa-2x"></i>
					</a>
					<span style="padding-right:2.5em"></span>
					<a href="#/app/ambientes/{{ambientes[$index+2].id}}">		
					  <i class="fa fa-trash-o fa-2x"></i>
					</a>
					
				</md-card-actions>
			</md-card>   -->   
  
  