<ion-view view-title="Domtec">
	
	
  <ion-content>
      
      
  
      <!--layout-fill  ocupa todo el largo los tabs-->
      
   <md-tabs md-selected="id.idTabParams" md-swipe-content="true" 	 md-no-ink md-dynamic-height="true"  >
  <md-tab  md-on-select="id.select('espacios')" ng-click="id.changeTab('espacios')" label="Espacios"><espacios-directive></espacios-directive></md-tab>
  <md-tab  md-on-select="id.select('dispositivos')" ng-click="id.changeTab('dispositivos')"  label="Dispositivos"><dispositivos-directive></dispositivos-directive></md-tab>
  
</md-tabs>
    
	
	
  </ion-content>
  
  
  <md-button class="md-fab float-button" aria-label="Alta Dispositivo" ng-click="id.alta()"">		
		<div class="content">
            <i style="font-size:20px" class="fa fa-plus"></i>
			</div>
    </md-button>

  
</ion-view>