<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Seleccione un Módulo </h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
      
      
   <div class="list">
		<a ng-repeat="item in listaModulos" class="item " ng-click="seleccionarModulo(item)">
		 <h2>{{item.name}}</h2> 
          <span class="item-note">
      {{item.address}}
    </span>
		</a>
	</div>
  </ion-content>
</ion-modal-view>